<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WebConfigFolder" value="C:\Dev\projects\USL\svn\trunks\Source\API\UMPG.USL.API"/>
    <add key="Nodes" value="connectionStrings;system.web/identity"/>
  </appSettings>
</configuration>